/* #region Master Structure */


body{

    background-color: #efefef;
}

.main-content{
    background-color: white;
    margin:auto;
    box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
}



@media only screen and (min-width: 500px) {
  
    .main-content{
        width: 70%;
        max-width: 900px;

    }
}



/* #endregion Master Structure*/

/* #region Section styles */

.header-section {
    border: 2px solid #7a7a7a; 
    padding:30px;
}

.location-section {
    /* padding:30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    /*overflow: auto;*/
    display:flex;
    flex-direction: row;
    justify-content: stretch;
    /* width: 100%; */
}


.location-section > *
{

    flex-grow: 1;
}


.address-section
{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}


.map-responsive > iframe{
        width: 100%!important;
}


@media only screen and (max-width: 500px) {
  
    .location-section {
        
        flex-direction: column;

         min-height: none;
    }
}




/* #endregion main Structure*/


.left, .right {
    float: left;
    width: 50%; 
}

.centre-align {
    margin: auto;
    width: 45%;
}

.centre-text {
    text-align: center;
}

.vertical-centre {
    vertical-align: middle;
}

/* Fonts styles */

.larger-header-text{
    font-size:7vw;
}

.small-header-text{
    font-size:3vw;
}

.wedding-font {
    font-family:'Times new roman';
    font-weight: 500;
}

.save-the-date-font {
    font-family:'Times new roman';
    font-weight: 300;
    font-size:3vw;
    color: #7a7a7a;
}

.names-font{
    color: #cd7f32;
    font-family:'Times new roman';
    font-weight: 500;
}

/* Separater line styles */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #7a7a7a;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

/* Map styles */

.map-responsive {
    position: relative;
    overflow:hidden;

    height: 480px;
}
.map-responsive iframe {
    left:0;
    top:0;
     width:100%; 
    position:absolute;
    top: 0px;
    bottom: 0px;
}