/* #region Master Structure */

body{

    background-color: #efefef;
}

.main-content{
    background-color: white;
    margin:auto;
    box-shadow: 0px 1px 15px rgba(0,0,0,0.2);
}

@media only screen and (min-width: 500px) {
  
    .main-content{
        width: 80%;
        max-width: 900px;
    }
}

/* #endregion Master Structure*/

/* #region Section styles */

.header-section {
    border: 2px solid #7a7a7a; 
    padding:30px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.header-section > * {
    max-width: 90%;
}

.location-section {
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    flex-direction: row;
    justify-content: stretch;
    margin-right: 2%;
}

.location-section > *
{
    flex-grow: 1;
}

.address-section {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width: 50%;
}

.address-section > * {
    max-width: 90%;
}

.map-responsive {
    position: relative;
    overflow:hidden;
}

.map-responsive > iframe{
    width: 100%!important;
}

.confetti-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.confetti-section > * {
    max-width: 95%;
}

.accomodation-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.accomodation-section > * {
    max-width: 95%;
}

.order-of-the-day-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.order-of-the-day-section > * {
    max-width: 95%;
}

@media only screen and (max-width: 500px) {
    .location-section {
        flex-direction: column;
        min-height: none;
        margin-right: auto;
    }
    
    .address-section {
        max-width: 100%;
    }

    .confetti-section {
        max-width: 100%;
        padding-left: 0%;
    }

    .accomodation-section {
        max-width: 100%;
        padding-left: 0%;
    }

    .order-of-the-day-section {
        max-width: 100%;
        padding-left: 0%;
    }
}

/* #endregion main Structure*/


.left, .right {
    float: left;
    width: 50%; 
}

.centre-align {
    margin: auto;
    width: 45%;
}

.centre-text {
    text-align: center;
}

.vertical-centre {
    vertical-align: middle;
}

/* Fonts styles */

.larger-header-text{
    font-size:7vmin;
}

.small-header-text{
    font-size:3vmin;
}

.wedding-font {
    font-family:'Times new roman';
    font-weight: 500;
}

.save-the-date-font {
    font-family:'Times new roman';
    font-weight: 300;
    font-size:3vmin;
    color: #7a7a7a;
}

.names-font{
    color: #cd7f32;
    font-family:'Times new roman';
    font-weight: 500;
}

/* Separater line styles */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #7a7a7a;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

